<h1>chapter3</h1>
<p>Hi <%= @user.name %>,</p>
<p>
  <%= t "user.new.welcome" %>
  <%= t "user.new.link_activate" %>
</p>
<%= link_to "Activate", edit_account_activation_url(id: @user.activation_token, email: @user.email) %>
