<% provide :title, "All users" %>
<h1>All users</h1>
<%= paginate @users  %>
<ul class="users">
  <%= render @users %>
  <% @users.each do |user| %>
   <%= render user %>
  <% end %>
</ul>
<%= paginate @users %>
